<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Smart Dispenser</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/staticvendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about" style='color="#F0FFFF"'>Dispense!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" >

    <div class="container d-flex h-75 align-items-center">

      <div class="mx-auto text-center">
        <h1 class="text-uppercase">Smart Dispenser</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A way to feed your pets when you're not home!</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger" style='background-color: #b19cd9'>Get Started</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  
  <section id="about" class="section text-center" style='padding-top:50px; padding-bottom:50px; padding-left:400px;padding-right:400px;'>
  	&ensp; This is the control for the dispense. The unit of measurement is cups. <br> Once you see the amount of cups you wish to dispense, click the dispense button.
  	<br> <br>
  	<form method="post">
  		<div class="input-group align-items-center">
  			<span class="input-group-btn">
  				<button type="button" class=" btn-info btn-lg" style='background-color:#00CED1;' data-type="minus" data-field="quant[2]">
  					-
  				</button>
  			</span>&nbsp;&nbsp;
          <script>
            var y = $(amount.x).val;
          function addOne(){
            y=y+1;
            console.log($(amount.x).val);
          }
          
          </script>
          

  			<input type="text" name="cups" class="form-control input-number " value={{amount.x}}  min="1" max="100"><br>
  			<span class="input-group-btn">
  				&nbsp;&nbsp; <button class="btn-info btn-lg" style='background-color:#00CED1;' data-type="plus" data-field="quant[2]" onclick= "addOne()">
  					+
  					<span class="glyphicon glyphicon-plus"></span>
  				</button>
  			</span>
  		</div>  		<br>
  		&nbsp;&nbsp; <button type="submit" class="btn-info btn-lg" style='background-color:	rgb(82, 212, 136)  '><a style="color:'#F0FFFF'">Dispense</a>
  	</form>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
  <p style="text-align: center;">This part of the website is to see how much food is really left for your pet to eat. It uses ultra sonic sensors to gauge the distance it's away. Based on the data, you can tell how much is left.
      </p>
<form method = "post">
        <div style ="border: 2px solid red; width: 300px; display: contents;">
            <input type="text" name="lname" style = "margin-left: 475px" value = {{amount.y}}  disabled>       
            &nbsp;&nbsp; <button type="submit" class="btn-info btn-lg" style='background-color:	rgb(82, 212, 136)  '><a style="color:'#F0FFFF'">Update</a>

          </div>
           <br><br>
          </form>
          </div>

  <!-- Contact Section -->
  <section id = "contact"class="contact-section "style='background-color:#00CED1;'>
    <div class="container">

      <div class="row">

        <div class="col-md-6 mb-2 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Shreyas Choudhary</h4>
              <hr class="my-4">
              <div class="small text-black-50">shreyas.choudhary@tamu.edu</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-2 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Alex Staggs</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">astaggs@tamu.edu</a>
              </div>
            </div>
          </div>
        </div>

   
    </div>
  </section>

  <!-- Footer -->
  <footer class="small text-center text-white-50" style='background-color:#00CED1;'>
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/grayscale.min.js"></script>

</body>

</html>
